<section class="mbr-section article mbr-section__container mbr-after-navbar cd-after-nav" id="content1-2"
         style="background-color: #eee; padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form name="profile" id="profile" ng-submit="storeProfile(profile)" novalidate>


                    <!-- Password -->
                    <div class="form-group">
                        <label for="password"><strong>Enter a new password</strong> <i class="fa fa-info-circle"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="right"
                                                                                       title="Enter a new password here. Try to avoid obvious ones other people may be able to guess."></i></label>
                        <input class="form-control" name="password" id="password" type="password"
                               ng-model="newPassword.password" placeholder="Password" min="6" required
                               ng-class="profile.password.$valid && !profile.password.$error.required ? 'form-control-success' : 'form-control-danger'">
                        <div class="text-danger form-control-feedback"
                             ng-if="profile.password.$invalid || profile.password.$error.required">
                            Please enter a valid password.
                        </div>
                    </div>
                    <!-- Password Match -->
                    <div ng-if="newPassword.password.length > 0" class="form-group"
                         ng-class="!signupFrm.passwordMatch.$error.pwmatch && !signupFrm.passwordMatch.$error.required ? 'has-success' : 'has-danger'">
                        <label for="passwordMatch"><strong>Confirm your new password</strong> <i
                                class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                                title="Please confirm your password."></i></label>
                        <input class="form-control" name="passwordMatch" id="passwordMatch" type="password"
                               ng-model="newPassword.password_match" placeholder="Repeat password" pw-check='password'
                               ng-class="!profile.passwordMatch.$error.pwmatch && !profile.passwordMatch.$error.required ? 'form-control-success' : 'form-control-danger'">
                        <div class="text-danger form-control-feedback"
                             ng-if="profile.passwordMatch.$error.pwmatch || profile.passwordMatch.$error.required">
                            Please enter a matching password.
                        </div>
                    </div>
                    <!--Submit Buttong-->
                    <div>
                        <button type="submit" class="btn btn-info pull-right">Submit changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
