<section class="mbr-section article mbr-section__container mbr-after-navbar cd-after-nav" id="content1-2"
         style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">
                <article>
                    <p>
                        Your group, club, society, team etc can now recieve funding through its members doing online
                        shopping.
                    </p>

                    <p>
                        A new brand has setup with 2 goals:
                    </p>

                    <ol>
                        <li><strong>To produce high quality products people need and will be happy to buy every
                            month</strong> - products like toothbrushes, shampoo, conditioner, mouthwash, razors etc.
                            Products everybody uses - so to ensure people do want to buy them over and over again they
                            need to be of a high standard, which they are.
                        </li>
                        <li><strong>To fund community projects</strong>, groups, clubs, societies, teams, anything you
                            can think of by selling these products and giving money back on each purchase that can go to
                            the group to help it do whatever it wants to do. And we're not talking a little bot of money
                            back - we're talking a good amount of money back so that group can generate a decent level
                            of cash easily.
                        </li>
                    </ol>

                    <p>
                        Change brands, change lives
                    </p>
                    <p>
                        List products
                    </p>
                    <p>
                        Money back guarantee
                    </p>
                    <p>
                        Examples/Calculator
                    </p>

                    <p>
                        So which of the following best describes you?
                    </p>

                    <p>
                        <strong>I run a group</strong> and would love for me and my members to generaate money for the
                        group just by shopping and buying what we already do, just buying it at Shelping.COM - <a
                            href="account/signup?signup_type=1">Signup 1 - project owner</a>
                    </p>

                    <p>
                        <strong>I am a member of a group</strong> and know the person who runs the group so I can tell
                        them about this as I know the members would love to generaate money for the group just by
                        shopping and buying what we already do, just buying it at Shelping.COM. - <a href="account/signup?signup_type=2">Signup
                        2 - project member</a>
                    </p>

                    <p>
                        <strong>I am the parent of a member of a group</strong> and know the person who runs the group
                        so I can tell them about this as I know the members would love to generaate money for the group
                        just by switching brand to Shelping.COM - <a href="account/signup?signup_type=3">Signup 3 - parent/sibling/friend</a>
                    </p>

                    <p>
                        <strong>I am the brother/sister of a member of a group</strong> and know the person who runs the
                        group so I can tell them about this as I know the members would love to generaate money for the
                        group just by shopping and buying what we already do, just buying it at Shelping.COM - <a
                            href="account/signup?signup_type=3">Signup 3 - parent/sibling/friend</a>
                    </p>

                    <p>
                        <strong>I am the friend of a member of a group</strong> and know the person who runs the group
                        so I can tell them about this as I know the members would love to generaate money for the group
                        just by shopping and buying what we already do, just buying it at Shelping.COM - <a href="account/signup?signup_type=3">Signup
                        3 - parent/sibling/friend</a>
                    </p>

                    <p>
                        <strong>I am not a member of a group but would happily help groups through doing my online
                            shopping if I could</strong> - <a href="account/signup?signup_type=4">Signup form 4 - Person who just wants to help
                        and doesn't have a specific project to associate with</a>
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>