<section class="mbr-section article mbr-section__container mbr-after-navbar" id="content1-2" style="background-color: #eee; padding-top: 160px!important; padding-bottom: 20px;">

    <!-- View -->
    <div class="container" id="cartContent">
        <div class="row">
            <div class="text-xs-center" id="cart-info">
                <p>The cart allows you to add many item's that you can then purchase and/or subscribe to all at once.</p>
            </div>
            <div ng-if="cart.getTotalItems() > 0" class="col-xs-12 lead cd-no-padding">
                <!-- Cart Data -->
                <div class="col-xs-12 col-sm-12">
                    <!-- Cart Items -->
                    <div class="card cd-shadow">
                        <div class="card-block clearfix" style="padding: 5px!important;">

                            <!-- Items -->
                            <div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="c in cart.getItems()" ng-init="c.newQty = c.getQuantity()" style="border-top: 1px solid #eee; padding: 5px 0!important;">
                                <div class="col-xs-1 cd-no-padding">
                                    <img style="max-width:50px; min-width: 25px;width:100%;" src="[[ c.getData().image ]]" alt="[[ c.getName() ]]" />
                                </div>
                                <div class="col-xs-9">
                                    <div class="col-xs-4">
                                        <strong>
                                            <a class="text-success" href="store/product/[[ c.getData().product_id ]]" ng-bind-html="c.getName()"></a>
                                        </strong>
                                        <div ng-bind="c.getPrice() ? c.getPrice() : 'Free' | currency:'£'"></div>
                                    </div>
                                    <div class="col-xs-8 cd-no-padding">
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="input-group" style="width: 75px;">
                                                <label for="qty"><strong>Quantity</strong></label>
                                                <input id="qty" class="form-control" min="1" type="number" value="c.getQuantity()" ng-model="c.newQty" ng-change="updateQty(c)"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <label for="subscription"><strong>Subscription Plan</strong></label>
                                            <select id="subscription" ng-if="c.getData().subscription !== undefined" ng-model="c.newSub" ng-options="sub.id as sub.name for sub in subscriptionPlans" ng-init="c.newSub = c.getData().subscription" class="form-control" ng-change="updateSubscription(c)"></select>
                                            <div ng-show="c.isSubscribed">Add to current subscription</div>
                                            <div ng-show="c.getData() && c.getData().isSubscription == 0"> No Subscription</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 cd-no-padding">
                                    <small><strong>Total Item Price</strong></small>
                                    <div ng-bind="c.getTotal() | currency:'£'"></div>
                                    <!--<small><strong>Total Postage Price</strong></small>
                                    <div ng-bind="itemApcc(c) | currency:'£'">Total Item Postage</div>-->
                                    <button class="btn btn-xs btn-link cd-no-padding" ng-click="removeCartItem(c)">
                                        <span class="text-danger">Remove</span>
                                    </button>
                                </div>
                            </div>

                            <hr/>

                            <!--<table class="table table-striped table-condensed table-hover table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Qty</th>
                                    <th>Subscription Plan</th>
                                    <th>Subtotal</th>
                                    <th class="text-xs-center">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="c in cart.getItems()" ng-init="c.newQty = c.getQuantity()">
                                    <td>
                                        <img width="50px" src="[[ c.getData().image ]]" alt="[[ c.getName() ]]" />
                                    </td>
                                    <td>
                                        <strong>
                                            <a class="text-success" href="store/product/[[ c.getData().product_id ]]" ng-bind-html="c.getName()"></a>
                                        </strong>
                                    </td>
                                    <td class="" ng-bind="c.getPrice() ? c.getPrice() : 'Free' | currency:'£'"></td>
                                    <td>
                                        <div class="input-group" style="width: 75px;">
                                            <input class="form-control" min="1" type="number" value="c.getQuantity()" ng-model="c.newQty" ng-change="updateQty(c)"/>
                                        </div>
                                    </td>
                                    <td>
                                        <select ng-if="c.getData().subscription !== undefined" ng-model="c.newSub" ng-options="sub.id as sub.name for sub in subscriptionPlans" ng-init="c.newSub = c.getData().subscription" class="form-control" ng-change="updateSubscription(c)"></select>
                                        <div ng-show="c.getData() && c.getData().isSubscription == 0"> No Subscription</div>
                                    </td>
                                    <td class="" ng-bind="c.getTotal() ? c.getTotal() : 'Free' | currency:'£'"></td>
                                    <td class="text-xs-center">
                                        <button class="btn btn-xs btn-link" ng-click="removeCartItem(c)">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Subtotal</th>
                                    <th ng-bind="cart.totalCost() ? cart.totalCost() : 'Free' | currency:'£'"></th>
                                    <td>
                                        <button class="btn btn-default btn-block" ng-click="cart.empty()">Clear Cart</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
                <!-- Bottom -->
                <div class="col-xs-12 col-sm-12" id="cart-checkout">
                    <div class="card cd-shadow">
                        <div class="card-block clearfix">
                            <div ng-if="!showCheckout">
                                <div>Postage Cost <span ng-bind="apcc() | currency:'£'"></span></div>
                                <h4 class="content-heading">
                                    Cart Total <span class="pull-right text-success" ng-bind="(cart.totalCost() + apcc()) | currency:'£'"></span>
                                </h4>
                                <ul class="list-unstyled list-inline text-xs-right">
                                    <li class="list-inline-item">
                                        <button data-target="#cart-checkout" class="btn btn-success" ng-click="toggleCheckout()" ng-bind="'Continue to Checkout'"></button>
                                    </li>
                                </ul>
                            </div>
                            <div id="cardForm">
                                <div ng-if="showCheckout">
                                    <ng-include ng-if="!account.token && !projectId" src="'/views/partials/cart-checkout-projects.html'"></ng-include>
                                    <ng-include ng-if="account.token || (!account.token && projectId)" src="'/views/partials/cart-checkout-form.html'"></ng-include>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Checkout Result -->
            <div ng-if="showResult" class="col-xs-12 lead cd-no-padding">
                <div class="col-xs-12 col-sm-12" id="checkout-result">
                    <div class="card cd-shadow">
                        <div class="card-block clearfix"> <!--ng-if="orderResult.subscriptions.length > 0 || orderResult.purchases.items"-->
                            <h4>Thank you for your order</h4>
                            <p>Thank you for shopping with Shelping.COM.</p>
                            <div class="text-md-right" ng-if="account.token">
                                <a class="btn btn-white-outline" href="account/[[ account.id ]]/purchase-history">Purchase History</a>
                                <a class="btn btn-white-outline" href="account/[[ account.id ]]/subscriptions">Subscription Manager</a>
                            </div>
                            <hr/>
                            <!-- Single Purchase Items -->
                            <div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="i in orderResult.purchases.items" style="border-top: 1px solid #eee; padding: 5px 0!important;">
                                <div>
                                    <div class="col-xs-1 col-sm-1 cd-no-padding">
                                        <img width="50px" src="[[ i.item.images[0] ]]" alt="[[ i.item.title ]]"/>
                                    </div>
                                </div>
                                <div class="col-xs-11 col-sm-11">
                                    <div class="col-xs-12 col-sm-6">
                                        <a class="text-success" href="store/product/[[ i.item.id ]]" ng-bind-html="i.item.name"></a>
                                        <div ng-bind="i.item.price | currency:'£'"></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 cd-no-padding">
                                        <div class="input-group" style="width: 75px;">
                                            <label for="qty">Quantity</label>
                                            <div ng-bind="i.quantity"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <div class="col-12">
                                            <small>Total Contribution</small>
                                            <div class="text-success" ng-bind="productContributionQty(i.item.price, i.item.contribution, i.quantity) | currency:'£'"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Subscription Items -->
                            <div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="s in orderResult.subscriptions">
                                <div ng-repeat="i in s.items" style="border-top: 1px solid #eee; padding: 5px 0!important;">
                                    <div>
                                        <div class="col-xs-1 col-sm-1 cd-no-padding">
                                            <img width="50px" src="[[ i.item.images[0] ]]" alt="[[ i.item.title ]]"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-11 col-sm-11">
                                        <div class="col-xs-12 col-sm-6">
                                            <a class="text-success" href="store/product/[[ i.item.id ]]" ng-bind-html="i.item.name"></a>
                                            <div ng-bind="i.item.price | currency:'£'"></div>
                                            <div>
                                                <label>Subscription</label>
                                                <div ng-bind="s.plan.name"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 cd-no-padding">
                                            <div class="input-group" style="width: 75px;">
                                                <label for="qty">Quantity</label>
                                                <div ng-bind="i.quantity"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-2">
                                            <div class="col-12">
                                                <small>Total Contribution</small>
                                                <div class="text-success" ng-bind="productContributionQty(i.item.price, i.item.contribution, i.quantity) | currency:'£'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Order Items -->
                            <!--<table class="table table-striped table-condensed table-hover table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Qty</th>
                                    &lt;!&ndash;<th>Subtotal</th>&ndash;&gt;
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="c in orderResult.purchases.items">
                                    <td>
                                        <img width="50px" src="[[ c.item.images.length > 0 ? c.item.images[0] : '/assets/img/missing-project.png']]" alt="[[ c.item.name ]]" />
                                    </td>
                                    <td>
                                        <strong>
                                            <a class="text-success" href="store/product/[[ c.item.id ]]" ng-bind-html="c.item.name"></a>
                                        </strong>
                                    </td>
                                    <td class="" ng-bind="c.item.price | currency:'£'"></td>
                                    <td ng-bind="c.quantity"></td>
                                    &lt;!&ndash;<td class="" ng-bind="c.getTotal() ? c.getTotal() : 'Free' | currency:'£'"></td>&ndash;&gt;
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    &lt;!&ndash;<th>Subtotal</th>&ndash;&gt;
                                    &lt;!&ndash;<th ng-bind="cart.totalCost() ? cart.totalCost() : 'Free' | currency:'£'"></th>&ndash;&gt;
                                </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- No Items -->
            <div ng-if="cart.getTotalItems() == 0 && !showResult" class="col-xs-12 lead cd-no-padding text-xs-center">
                <div class="text-xs-center">
                    <img src="../../assets/img/help/shopping-2x.png" width="200px" style="margin: 40px auto">
                </div>
                <p><strong>Your cart is empty.</strong></p>
            </div>
        </div>
    </div>

</section>