<!-- Incomplete Project Submission -->
<div class="col-xs-12">
    <div class="col-xs-12 cd-no-padding">
        <p>You have not filled the following fields.</p>
        <ul>
        	<li>Location</li>
        	<li>Website</li>
        	<li>Facebook Link</li>
        </ul>
        <p>Click `GO BACK` to fill these fields or `Continue` to carry on with them empty </p>
    </div>
    <button class="btn btn-info left" ng-click="cancel()">Go Back</button>
    <button class="btn btn-info right"  ng-click="ok()">Continue</button>
</div>