<div class="col-xs-12">
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 15px;">
        <p>Are you sure you wish to logout?</p>
    </div>
    <div class="col-xs-12 text-xs-right">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <button class="btn btn-primary btn-block" ng-click="cancel()">Stay logged in</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <button class="btn btn-info btn-block" ng-click="confirmLogout()">Logout</button>
        </div>
    </div>
</div>