<!-- Map View -->
<div class="col-xs-12 clearfix">
    <div class="col-xs-12 cd-no-padding" ng-bind="data.subtext"></div>
    <div class="col-xs-12 cd-no-padding">
        <div class="form-group">
            <input class="form-control" name="address" placeholder="Enter location..." ng-model="newMap.location" ng-change="updateLocation()" ng-model-options='{ debounce: 1000 }'>
            [[ newMap.fullAddress ]]
        </div>
    </div>
    <div class="col-xs-12 cd-no-padding" map-lazy-load="[[googleMapsUrl]]">
        <ng-map center="[[ newMap.lat ]], [[ newMap.lon ]]" zoom="[[ mapZoom ]]">
            <marker position="[[ newMap.location ]]" icon="assets/img/map/ic-place-2x.png"></marker>
        </ng-map>
    </div>
    
    <div class="col-xs-12 cd-no-padding" style="margin-top: 10px;">
        <button class="btn btn-info left" ng-click="cancel()"> Cancel</button>
        <button class="btn right"  ng-class="newMap.location ? 'btn-success' : 'btn-info'" ng-click="ok()" ng-disabled="!newMap.lan && !newMap.lon && !newMap.location">Set Location</button>
    </div>
</div>