<div class="col-xs-12">
    <p>Share this page.</p>
    <div class="list-group">
        <a href=""  class="list-group-item" title="Share link on Reddit" socialshare
            socialshare-provider="reddit"
            socialshare-text="Sky rocket your project on Shelping.COM."
            socialshare-url="[[ sharableUrl ]]">
            <span >
                <i class="fab fa-reddit"></i> Reddit
            </span>
        </a>
        <a href=""  class="list-group-item"  title="Share link on Pinterest" socialshare
            socialshare-provider="pinterest"
            socialshare-text="Sky rocket your project on Shelping.COM."
            socialshare-url="[[ sharableUrl ]]">
            <span>
                <i class="fab fa-pinterest"></i> Pinterest
            </span>
        </a>
        <a href=""  class="list-group-item" title="Share link on Skype" socialshare
            socialshare-provider="skype"
            socialshare-text="Sky rocket your project on Shelping.COM."
            socialshare-url="[[ sharableUrl ]]">
            <span>
                <i class="fab fa-skype"></i> Skype
            </span>
        </a>
        <a href=""  class="list-group-item hidden-md-up" title="Share link via SMS" socialshare
            socialshare-provider="sms"
            socialshare-subject="Shelping.COM"
            socialshare-body="Sky rocket your project on Shelping.COM. [[ sharableUrl ]]">
            <span>
                <i class="fas fa-envelope-open-text"></i> SMS
            </span>
        </a>
        <a href="" class="list-group-item hidden-md-up" title="Share link on Facebook Messenger" socialshare
           socialshare-provider="facebook-messenger"
           socialshare-url="[[ sharableUrl ]]">
            <span >
                <i class="fab fa-facebook-f"></i> Facebook Messenger
            </span>
        </a>
        <a href="" class="list-group-item hidden-md-up" title="Share link on Whatsapp" socialshare
           socialshare-provider="whatsapp"
           socialshare-url="[[ sharableUrl ]]">
            <span >
                <i class="fab fa-whatsapp"></i> Whatsapp
            </span>
        </a>
    </div>

    <h4 class="content-heading">Tap to copy link</h4>
    <div class="form-group">
        <input ng-click="copyToClipboard('shareLink')" id="shareLink" class="form-control" type="text" contenteditable="true" readonly value="[[ sharableUrl ]]">
    </div>

</div>