<!--<div>
        <ul class="list-unstyled hidden-md-up">
            <li>
                <button class="btn btn-facebook btn-block" ng-click="socialAuth('facebook')">
                    <strong>
                        <i class="fa fa-facebook fa-2x pull-left"></i> Login with Facebook
                    </strong>
                </button>
            </li>
            <li>
                <button class="btn btn-twitter btn-block" ng-click="socialAuth('twitter')">
                    <strong>
                        <i class="fa fa-twitter fa-2x pull-left"></i> Login with Twitter
                    </strong>
                </button>
            </li>
            <li>
                <button class="btn btn-google btn-block" ng-click="socialAuth('google')">
                    <strong>
                        <i class="fa fa-google-plus fa-2x pull-left"></i> Login with Google+
                    </strong>
                </button>
            </li>
            <li>
                <button class="btn btn-linkedin btn-block" ng-click="socialAuth('linkedin')">
                    <strong>
                        <i class="fa fa-linkedin fa-2x pull-left"></i> Login with LinkedIn
                    </strong>
                </button>
            </li>
        </ul>

        <div class="row text-xs-center hidden-sm-down">
            <p class="cd-line-devider">
                <span>Signin with Social Media</span>
            </p>
            <div class="col-md-3">
                <div data-toggle="tooltip" data-placement="top" title="Signin with Facebook">
                    <button class="btn btn-social facebook" ng-click="socialAuth('facebook')">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div data-toggle="tooltip" data-placement="top" title="Signin with Twitter">
                    <button class="btn btn-social twitter" ng-click="socialAuth('twitter')">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div data-toggle="tooltip" data-placement="top" title="Signin with Google+">
                    <button class="btn btn-social plusone" ng-click="socialAuth('google')">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div data-toggle="tooltip" data-placement="top" title="Signin with LinkedIn">
                    <button class="btn btn-social plusone" ng-click="socialAuth('linkedin')">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>-->