<section class="col-xs-12">
    <form name="pwForm" id="pwForm" ng-submit="auth.resetPass(pwForm)" novalidate ng-if="!resetDone">
        <!-- Email Address -->
        <div class="form-group" ng-class="pwForm.email.$valid && !pwForm.email.$error.required ? 'has-success' : 'has-danger'">
            <label for="email">Email Address</label>
            <input class="form-control" name="email" id="email" type="email" ng-model="auth.email" placeholder="Email" required ng-class="pwForm.email.$valid && !pwForm.email.$error.required ? 'form-control-success' : 'form-control-danger'">
            <div class="text-danger form-control-feedback" ng-if="pwForm.email.$invalid || pwForm.email.$error.required">
                Please enter a valid email address.
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-block">
                Request Password Reset
            </button>
        </div>
    </form>

    <div ng-if="resetDone">
        We have sent an email to [[ auth.email ]], please follow the instructions to reset your password.
    </div>
</section>