<section class="mbr-section article mbr-section__container mbr-after-navbar" id="content1-2" style="background-color: #fff; padding-top: 160px!important; padding-bottom: 20px;">
    <div class="container">
        <article>
            <p>
                You have logged out of Shelping.COM. Please remember to share Shelping.COM and the projects that can be helped through people changing their brand to the new, quality Shelping.COM brand.
            </p>

            <p>
                <strong>Change Brand - Change Lives.</strong>
            </p>
            <!-- Share Buttons -->
            <div class="mbr-social-likes social-likes social-likes_visible" data-counters="false">
                        <span class="btn btn-social facebook" title="Share link on Facebook" socialshare socialshare-provider="facebook" socialshare-text="Sky rocket your project on CompleteDoddle." socialshare-type="share" socialshare-via="274676456259523" socialshare-url="[[ sharableUrl ]]">
                            <i class="fab fa-facebook-f"></i>
                        </span>
                <span class="btn btn-social twitter" title="Share link on Twitter" socialshare socialshare-provider="twitter" socialshare-text="Sky rocket your project on CompleteDoddle." socialshare-hashtags="CompleteDoddleUK" socialshare-url="[[ sharableUrl ]]" socialshare-media="assets/img/logo-ico.png">
                            <i class="fab fa-twitter"></i>
                        </span>
                <span class="btn btn-social plusone" title="Share link on Google+" socialshare socialshare-provider="google" socialshare-text="Sky rocket your project on CompleteDoddle." socialshare-url="[[ sharableUrl ]]">
                            <i class="fab fa-google-plus-g"></i>
                        </span>
                <span class="btn btn-social plusone" title="Share link on Linkedin" socialshare socialshare-provider="linkedin" socialshare-text="Sky rocket your project on CompleteDoddle." socialshare-url="[[ sharableUrl ]]">
                            <i class="fab fa-linkedin-in"></i>
                        </span>
                <span class="btn btn-social plusone" title="Share link via Email" socialshare socialshare-provider="email" socialshare-subject="CompleteDoddle" socialshare-body="Sky rocket your project on CompleteDoddle. [[ sharableUrl ]]">
                            <i class="fa fa-envelope"></i>
                        </span>
            </div>
        </article>
    </div>
</section>