<div class="nav-breadcrumbs hidden-sm-up cd-shadow prjct-breadcumb" ng-if="navUrl != '/'">
    <div class="container">
        <ol class="ab-nav breadcrumb" ng-if="navUrl == '/projects/create'">
            <!-- <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                <a ng-if="!$last" ng-href="[[ breadcrumb.path ]]" ng-bind="breadcrumb.label" class="margin-right-xs text-black"></a>
                <span ng-if="$last" ng-bind="breadcrumb.label"></span>
            </li>-->
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="projects/create">Add Project</a>
            </li>
            <li  ng-if="createStep == 3">
                <a href="">Share on Facebook</a>
            </li>

            <li  ng-if="createStep == 4">
                <a href="">Share on Twitter</a>
            </li>

            <li  ng-if="createStep == 5">
                <a href="">Share Project</a>
            </li>
        </ol>
    </div>
</div>
<section class="mbr-section article mbr-section__container mbr-after-navbar" id="content1-2" style="background-color: #eee; padding-top: 155px!important;">
    
    <div class="container cd-no-padding" style="overflow: hidden;">
        <div class=""> <!-- row -->
            <!-- Create Form -->
            <div ng-if="createStep == 1" class="col-xs-12">
                <!-- Cropper -->
                <h5>Add your project by filling in the information below then tapping the `Add Project` button.</h5>
                <h5>Boxes with a red border need to be completed other boxes are optional. We recommend you enter as much information about your project as possible.</h5>
                <h5>After adding the project information we will guide you thought sharing your project.</h5>
                <h5>The more you share, the more support your project will receive.</h5>
                <!-- End -->
                <br/>
                <form name="form.createProject" id="createProject" ng-submit="store()" novalidate>
                    <div class="form-group" ng-class="form.createProject.title.$valid && !form.createProject.title.$error.required ? 'has-success' : 'has-danger'">
                        <label for="title">Project Name <small>(<span ng-bind="formData.title.length > 0 ? formData.title.length : '0'"></span> / 50)</small>  <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="This is what is displayed when people view your project."></i></label>
                        <input maxlength="50" spellcheck="true" type="text" class="form-control" id="title" name="title" placeholder="Project Title" ng-model="formData.title" required ng-class="form.createProject.title.$valid && !form.createProject.title.$error.required ? 'form-control-success' : 'form-control-danger'">
                        <div class="text-danger form-control-feedback" ng-if="form.createProject.title.$invalid || form.createProject.title.$error.required">
                            Please enter a project title.
                        </div>
                    </div>
                    <div class="form-group" ng-class="form.createProject.desc.$valid && !form.createProject.desc.$error.required ? 'has-success' : 'has-danger'">
                        <label for="desc">Project Description <small>(<span ng-bind="formData.desc.length > 0 ? formData.desc.length : '0'"></span> / 1000)</small> <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="This is where you get to explain what your project is all about. Make the description as good as possible so that somebody who doesn't know you can understand what it's all about just by reading this."></i></label>
                        <textarea maxlength="1000" spellcheck="true" class="form-control" id="desc" name="desc" placeholder="Description" ng-model="formData.desc" required rows="5" ng-class="form.createProject.desc.$valid && !form.createProject.desc.$error.required ? 'form-control-success' : 'form-control-danger'"></textarea >
                        <div class="text-danger form-control-feedback" ng-if="form.createProject.desc.$invalid || form.createProject.desc.$error.required">
                            Please type a description for your project.
                        </div>
                    </div>
                    
                    <div class="form-group" ng-class="form.createProject.categories.$valid && !form.createProject.categories.$error.required ? 'has-success' : 'has-danger'" style="position: relative">
                        <label for="categories">Project Categories <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Select which category or categories your project fits into from the dropdown list below."></i></label>
                        <ui-select name="categories" id="categories" multiple ng-model="formData.categories" theme="bootstrap" ng-disabled="!categories" required >
                            <ui-select-match placeholder="Select categories...">[[ $item.name ]]</ui-select-match>
                            <ui-select-choices repeat="c in flatCats | filter: $select.search">
                                <div ng-bind-html-unsafe="c.id | highlight: $select.search">[[ c.name ]]</div>
                            </ui-select-choices>
                        </ui-select>
                        <div class="text-danger form-control-feedback" ng-if="form.createProject.categories.$invalid || form.createProject.categories.$error.required">
                            Please select at least 1 category.
                        </div>
                    </div>
                    <label>Project Image</label>
                    <br>
                    <button type="button" class="btn btn-info" ng-click="selectFile()">Add A Project Image</button>
                    <p>Adding a project image increase the views your project receives</p>
                    <input id="file-input" type="file" nv-file-select="" uploader="uploader" style="display: none;" />
                   
                    <div class="form-group" ng-class="form.createProject.location.$valid && !form.createProject.location.$error.required ? 'has-success' : 'has-danger'" style="position: relative">
                        <label for="location">Project Location  <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Your location will be displayed as a pin on a map so it shows the 'area' your project is in and doesn't give you any address details."></i></label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="location" ng-model="formData.locationName" ng-click="getLocation()" readonly>
                        <!-- <div class="text-danger form-control-feedback" ng-if="form.createProject.location.$invalid || form.createProject.location.$error.required">
                            Where will this project take place?
                        </div> -->
                    </div>
                    <p>setting a location for your project make it easier to search for and find</p>
                    <div class="form-group" ng-class="form.createProject.tags.$valid && !form.createProject.tags.$error.required ? 'has-success' : 'has-danger'" style="position: relative">
                        <label for="tags">Tags <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Enter the tags that match your project that will help your project be found when people are searching on Shelping.COM."></i></label>
                        <ui-select name="tags" id="tags" multiple tagging tagging-label="" ng-model="formData.tags" theme="bootstrap">
                            <ui-select-match placeholder="Add tags...">#[[ $item ]]</ui-select-match>
                            <ui-select-choices repeat="t in availableTags | filter: $select.search">
                                [[ t ]]
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <p>Adding tags to your project help people to find it </p>
                    <div class="form-group" ng-class="form.createProject.web.$valid && !form.createProject.web.$error.required ? 'has-success' : 'has-danger'">
                        <label for="web">Project Website <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="If your project has an associated website enter that website address here."></i></label>
                        <input type="website" class="form-control" id="web" name="web" placeholder="https://www.yourproject.com" ng-model="formData.web">
                    </div>
                    <p>If your add a website link it will be displayed on your project page for people to click on</p>
                    <div class="form-group" ng-class="form.createProject.fb.$valid && !form.createProject.fb.$error.required ? 'has-success' : 'has-danger'">
                        <label for="fb">Project Facebook link <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="If your project has an associated Facebook page/group enter the link to that Facebook page/group here."></i></label>
                        <input type="website" class="form-control" id="fb" name="fb" placeholder="https://www.facebook.com/yourpage" ng-model="formData.fb">
                    </div>
                    <p>If your add a Facebook link it will be displayed on your project page for people to click on</p>
                    <input type="file" nv-file-select uploader="uploader" style="display: none;" />
                    <div>
                        <center><button style="width: 250px" class="btn btn-info" type="submit" ng-bind="!data.project ? 'Add Project' : 'Update Project'"></button></center>
                    </div>
                </form>

                <div class="col-xs-12 cd-no-padding" ng-if="isEdit">
                    <h4 class="content-heading">Project Management</h4>

                    <div>
                        <h6 class="content-heading">Transfer Ownership</h6>
                        <p>
                            Owners can generate a transfer token which, when claimed, can transfer the ownership of a specific project to other people.
                            Only one token can be active at a time for each project, if new token is generated, all other tokens are invalidated. Tokens expire after 48 hours.
                        </p>

                        <div class="input-group" ng-if="data.project._transferToken">
                            <input id="projectToken" class="form-control" type="text" readonly value="[[ absUrl ]]/projects/56010001/claim?token=[[ data.project._transferToken ]]">
                            <span class="input-group-btn">
                                <button class="btn btn-white-outline btn-secondary" type="button" ng-click="copyToClipboard('projectToken')">Copy</button>
                            </span>
                        </div>

                        <button class="btn btn-block btn-sm btn-white-outline" type="button" ng-click="transferToken()" ng-bind="data.project._transferToken != null ? 'Regenerate Token' : 'Generate Token'"></button>
                    </div>

                    <div>
                        <h6 class="content-heading">Delete Project</h6>
                        <button class="btn btn-block btn-sm btn-danger" type="button" ng-click="deleteProject()">Delete Project</button>
                    </div>
                </div>
            </div>

            <!-- Step 2: Confirmation -->
            <div ng-if="createStep == 2" class="col-xs-12 clearfix cd-no-padding animated fadeIn">

                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <img width="50%" src="../../assets/img/help/congractulation.png">
                </div>
               <div class="col-xs-12 col-sm-12 col-md-12 congrats-container">
                   <h4 class="text-capitalize">Congractulation</h4>
                   <p>Your project has been created.</p>
                </div>
                <div class="col-xs-12">
                    <h4>
                        The next and more important thing you can do for your project is to share it on your social media.
                    </h4>
                    <p>
                        Sharing your project on social media is the best way to get the people you know involved supporting your project
                    </p>
                    <p>
                        The more you share, the more supporters you'll get. The more supporters you have, the more fund your project will generate.
                    </p>
                </div>
                <div class="col-xs-12 center">
                    <button class="btn btn-info" style="width: 200px;" ng-click="nextStep()">Continue</button>
                </div>
            </div>

            <!-- Step 3: Share on Facebook -->
            <div ng-if="createStep == 3" class="col-xs-12 clearfix cd-no-padding animated fadeIn">
                <div class="col-xs-12 col-sm-12 col-md-12 text-xs-center">
                    <img style="width: 50%" src="../../assets/img/help/fbHelp.png" class="social-img">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 margin-bottom15">
                    <h4 class="text-black" style="color: #000 !important;">
                        <b>Sharing on Facebook will increase the number of supporters your project has.</b>
                    </h4>
                    <ul class="list-unstyled  twiiter-caption">
                        <li>More supporters of your project means more money for your project.</li>
                        <li>Facebook friends are people you know. Because you are not a stranger to them, they will not just ignore your project when you share it.</li>
                        <li>Facebook supporters will aslo help share your project further.</li>
                    </ul>
                    <!-- Share Button -->
                    
                    <div class="col-xs-12 text-xs-right padding-left0">
                        <div class="col-xs-9 text-xs-left padding-left0">
                           <a href="" class="btn btn-primary btn-font" ng-click="facebookShare()">
                                <i class="fab fa-facebook" aria-hidden="true"></i> Share on Facebook
                            </a> 
                        </div>
                        <div class="col-xs-3 padding-right0">
                            <button class="btn btn-font skip-btn" ng-click="nextStep()" ng-class="shareCheck.facebook ? 'btn-info' : 'btn-primary'" ng-bind="shareCheck.facebook ? 'Continue' : 'Skip'"></button>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Step 4: Share on Twitter -->
            <div ng-if="createStep == 4" class="col-xs-12 clearfix cd-no-padding animated fadeIn">
                <div class="col-xs-12 col-sm-12 col-md-12 text-xs-center">
                    <img style="width: 50%" src="../../assets/img/help/twitterHelp.png" class="social-img">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 margin-bottom15" >
                    <h4 class="text-black" style="color: #000 !important;">
                        <b>Sharing on Twitter is just as important for increasing the number of supporters your project has.</b>
                    </h4>
                    <ul class="list-unstyled twiiter-caption">
                        <li>More supporters of your project means more money for your project.</li>
                        <li>Twitter followers are people you know. Because they follow you, they will not just ignore your project when you tweet about it.</li>
                        <li>Twitter supporters will aslo help share your project further.</li>
                    </ul>
                    <!-- Share Button -->
                    
                    <div class="col-xs-12 btn-sectn text-xs-right padding-left0">
                        <div class="col-xs-9 text-xs-left padding-left0">
                            <a href="#" class="btn btn-twitter btn-font" ng-click="twitterShare()">
                                <i class="fab fa-twitter" aria-hidden="true"></i> Share on Twitter
                            </a>
                        </div>
                        <div class="col-xs-3 padding-right0">
                            <button class="btn btn-font skip-btn" ng-click="nextStep()" ng-class="shareCheck.twitter ? 'btn-info' : 'btn-default'" ng-bind="shareCheck.twitter ? 'Continue' : 'Skip'"></button>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Step 5: Finish & View -->
            <div ng-if="createStep == 5" class="col-xs-12 clearfix cd-no-padding animated fadeIn">
                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <img width="50%" src="../../assets/img/help/congractulation.png">
                </div>
               <div class="col-xs-12 col-sm-12 col-md-12 congrats-container">
                   <h4 class="text-capitalize">CONGRATULATION!</h4>
                   <p>Your project is ready.</p>
                </div>
                <div class="col-xs-12">
                    <h4>REMEMBER:</h4>
                    <h4>
                        Sharing your project on social media is the best way to get your friends involved and supporting your project.
                    </h4>
                    <p>
                        You can share your project at any time in the future and we actively encourage you to do so. If you keep sharing your project you keep reminding your friends to support it.
                    </p>
                    
                </div>
                <div class="col-xs-12 text-xs-right">
                    <button class="btn btn-info" ng-click="shareCheck.twitter == false || shareCheck.facebook == false ? nextStep() : complete()">View Project</button>
                </div>
            </div>

            <!-- Step 6: No share check -->
            <div ng-if="createStep == 6" class="col-xs-12 clearfix cd-no-padding animated fadeIn text-xs-center" style="margin-bottom: 10px;">
                <div class="col-xs-12 col-sm-12 col-md-12 text-xs-center">
                    <img style="width: 50%" src="../../assets/img/help/notShare.png" class="social-img">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-xs-left" style="margin-bottom: 15px;">
                    <!-- <h4 class="text-capitalize text-info">
                        Hold your horses!
                    </h4> -->
                    <h4 class="text-black" style="color: #000 !important;">
                        <b>You have not shared your project on </b><span ng-if="!shareCheck.facebook"><b>[Facebook]</b></span> <span ng-if="!shareCheck.twitter"><b>[Twitter]</b></span> <span ng-if="!shareCheck.facebook && !shareCheck.twitter"><b>[Facebook] [Twitter]</b></span> 
                    </h4>
                    <ul class="list-unstyled twiiter-caption">
                        <li>Sharing your project on social media is the best way to get your friends involved and supporting your project.</li>
                        <li>You can share your project at any time in the future and we actively encourage you to do so. If you keep sharing your project you keep reminding your friends to support it.</li>
                        <li>You can share your project now by clicking or tapping the 'Share Now' button below. If you want to share it later click or tap the 'View Project' button.</li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6 padding-left0">
                        <button class="btn btn-info btn-font" ng-click="reset()">Share Now</button>
                    </div>
                    <div class="col-xs-6 padding-left0">
                        <button class="btn btn-primary skip-btn btn-font" ng-click="complete()">View Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>