<div class="col-xs-12 cd-no-padding" map-lazy-load="[[googleMapsUrl]]">
    <ng-map center="[[ newMap.lat ]], [[ newMap.lon ]]" zoom="[[ mapZoom ]]" on-zoom_changed="updateLocation()" on-bounds_changed="updateLocation()">
        <shape name="rectangle" id="foo"
               stroke-color="#FF0000"
               stroke-opacity="0.8"
               stroke-weight="2"
               fill-color="#FF0000"
               fill-opacity="0.35">
        </shape>
        <marker position="[[ newMap.location ]]" icon="assets/img/map/ic-place-2x.png"></marker>
        <marker ng-if="projects" ng-repeat="p in projects" position="[[ [p.location.latitude, p.location.longitude] ]]" icon="assets/img/map/ic-place-2x.png" data-toggle="popover" data-trigger="hover" title="[[ p.title ]]" data-content="[[ p.desc ]]"></marker>
    </ng-map>
</div>