<div ng-if="signupStep == 1">
    <h3>Project Owner Signup</h3>
    <p>So you run a group and your group would benefit from you and its members creating funds for it simply by doing
        online shopping at Shelping.COM buying the things you already do.</p>
    <p>Get Started</p>
</div>

<div ng-if="signupStep == 2">
    <h3>Project Owner Signup Page 2</h3>
    <p>Your Details</p>
</div>

<div ng-if="signupStep == 3">
    <h3>Project Owner Signup - about me section</h3>
</div>

<div ng-if="signupStep == 4">
    <h3>Project Owner Signup</h3>
    <p>Your project has now been created and you are a member of Shelping.COM. We now recommend you do the
        following:</p>
    <ol style="list-style-type: upper-greek">
        <li>
            Share your Shelping.COM project with the other members of your group. Do this by clicking on the icons below
            to post your project to FB/Twitter/Google/LinkedIn.
            ICONS HERE
        </li>
        <li>
            Go to your project and add a description, images and general information. The better you make your project
            the more likely you are not only to get your members supporting it through buying products from
            Shelping.COM, but you will also get other people - people who aren't members - supporting your project as
            well simply because they like it and want to help where possible. <a href="#">Click here</a> to view your
            project.
        </li>
        <li>
            Request a sample pack or Shelping.COM products. You do that by clicking on the button below. We will then
            send out samples of the products your members already buy from various places. Take a look - test the quality
            of them to ensure you and your members are happy to buy the Shelping.COM products then you and your members
            can come and buy or subscribe and start helping your group.
        </li>
    </ol>

    <a href="#" class="btn btn-white-outline">Request Group Sample Pack</a>
</div>