<div ng-if="signupStep == 2">
    <h3>Person with no specific group just happy to help by swapping brands Signup</h3>
</div>

<div ng-if="signupStep == 3">
    <h3>Person with no specific group just happy to help by swapping brands Signup</h3>
</div>

<div ng-if="signupStep == 4">
    <h3>Person with no specific group just happy to help by swapping brands Signup Complete</h3>
    <p>You are now a member of Shelping.COM and can now start helping projects simply by changing your brand to Shelping.COM. Below are the options from here to get you started:</p>
</div>